div.contact-content{
}

.nf-form-title h3{
    color: $text-light;
    font-family: $headingFont;
    font-size: $mH3;
}

div.nf-form-content label{
    font-size: $bodyFont;
    color: $orange;
    font-family: $headingFont;
    font-weight: normal;
    line-height: $bodyFont;
}

div.nf-form-content input{
    border-radius: 1rem !important;
}


div.nf-form-content textarea{
    border-radius: 1rem !important;
}

