.primary-btn{
    @include button;
}

.secondary-btn{
    @include button;
    background-color: unset;
    
    a{
        color: $orange;
    }
    &:hover{
        background-color: $orange;
        a{
            color: $text-light;
        }
    }
}

main.page{
    .nf-form-content input[type=button]{
        @include button;
        text-transform: uppercase;
        font-family: $headingFont;
        &:hover{
            color: $orange;
        }
    }
}