.primary-btn{
    @include button;
}

.secondary-btn{
    @include button;
    background-color: unset;
    
    a{
        color: $orange;
    }
    &:hover{
        background-color: $orange;
        a{
            color: $text-light;
        }
    }
}

main.page{
    .nf-form-content input[type=button]{
        @include button;
        text-transform: uppercase;
        font-family: $headingFont;
        margin-top: 0;
        float: right;
        &:hover{
            color: $orange;
        }
    }
}
.ball {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-color: $red;
    border-radius: 100%;
    margin-left: 3px;
  }