/* footer */
footer {
  background-color: $background-color;
  color: $orange;
  font-size: $xsFont;
  padding: $xs-space 0;
  p {
    padding: 0;
    margin: 0;
  }
  a {
    color: $orange;
    &:hover {
      color: $red;
    }
  }
}
.footer-container {
  margin-top: $xl-space;
  aside {
    padding: $md-space 10px;
    background-color: $yellow;
    color: $text-light;
    h3 {
      color: $text-light;
    }

    &:first-of-type {
      background-color: $purple;
      h3 {
        text-transform: capitalize;
      }
    }
    &:nth-of-type(2) {
      ul {
        li {
          line-height: 2;
          float: left;
          display: inline;
          width: 50%;
          &:nth-child(even) {
            text-align: right;
          }
          a {
            font-family: $headingFont;
            text-transform: uppercase;
            color: $text-dark;
            &:hover {
              color: $red;
            }
          }
        }
      }
    }
    &:nth-of-type(3){
      a:hover img{
        filter: invert(100%);
      }
    }
  }
}
