/* footer */
footer{
    background-color:$background-color;
    color: $orange;
    font-size: $xsFont;
    padding: $xs-space 0;
    p{
        padding: 0;
        margin: 0;
    }
    a{
        color: $orange;
        &:hover{
            color: $red;
        }
    }
}
.footer-container{
    margin-top: $xl-space;
    aside{
    padding: $md-space 10px;
    background-color: $yellow;
    color: $text-light;
    h3{
        color: $text-light;
    }

    &:first-of-type{
        background-color: $purple;
        h3{
            text-transform: capitalize;
        }
    }
    }
    ul {
        li{
            line-height: 2;
           a{
        font-family: $headingFont;
        text-transform: uppercase;
        color: $text-dark;
        &:hover{
            color: $red;
        }
        } 
        } 
    }
    
}



@media screen and (min-width:768px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: nowrap;

        aside{
        padding: $md-space;

        &aside:first-of-type{
            text-align: right;
        }
        }

    }
    
}