nav{
    background: $text-light;
    padding: 1rem;
}

/* nav */
.navbar-toggler {
    background: $orange;
    height: $icon;
}
div.site-logo img{
   width: 5rem; 
   height: 100%; 
}

@media screen and (min-width:992px) {
    .collapse:not(.show) {
        display: block;
    }
    div.site-logo img{
        width: 10rem; 
        height: 100%; 
     }
}