// layout
html {
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
}
body {
  background-color: $background-color;
  background: transparent
    linear-gradient(163deg, #241e46 0%, #1f2a5c 67%, #30376a 100%) 0% 0%
    no-repeat padding-box;
  color: $text-dark;
  font-size: $bodyFont;
  min-width: 320px;
  font-family: $baseFont;
}

// home page
section {
  margin-bottom: $lg-space;
  &:last-of-type {
    margin-bottom: 0;
  }
}
section.bg-white {
  padding-top: $lg-space;
  padding-bottom: $lg-space;
  background-color: #fff;
  h2 {
    color: $background-color;
  }
}
// what we do section
.wwedo {
  align-items: center;
  margin-bottom: $sm-space;

  img {
    height: 110px;
    width: auto;
    margin: 0 auto;
  }
}
// sign up form
.mc4wp-form-113 {
  color: #fff;
  margin-bottom: 0;
  .form-row {
    margin-bottom: $sm-space;
  }
  input.form-control {
    border: none;
    border-radius: unset;
    border-bottom: 3px solid #fff;
    background: none;
    color: #fff;
  }
  input.primary-btn {
    margin-bottom: 0;
    width: 16.7rem;
    text-transform: uppercase;
    font-family: $headingFont;
    color: $text-light;
    &:hover {
      color: $orange;
    }
  }
}

.entry-content {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: $lg-space 0 $sm-space;
  }
  img {
    margin: 0 auto;
  }
}

// events page
.alert-bubble {
  background-color: $yellow;
  color: $text-dark;
  border-radius: 0 5.8rem 5.8rem 5.8rem;
  padding: $sm-space;
  text-align: center;
  max-width: 43rem;
}
main.page {
  .split-layout {
    margin-bottom: $lg-space;
    div.col-12 {
      margin-bottom: $lg-space;
    }
  }
}
.events-calendar-container {
  padding-bottom: $lg-space;
  margin-bottom: $lg-space;
}
.past-galleries{
  .card{
    background-color: $navy;
    .aspect-ratio-box{
      height: 0;
      overflow: hidden;
      position: relative;
      padding-top: calc(400 / 600 * 100%);
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: luminosity;
      }
    }
    .card-text {
      position: absolute;
      top: 8px;
      left: 16px;
      color: $text-light;
      h4{
        color: $text-light;
      }
    }
    &:hover .card-text{
      top:2rem;
      bottom: 2rem;
      left: 2rem;
      right: 2rem;
      background-color: $trans-purple;
      padding: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}


.error404,
main.page {
  .mec-load-more-button {
    @include button;
    padding: unset;
    color: $text-light;
    &:hover {
      color: $orange;
    }
  }
}
.search-form {
  max-width: 50rem;
  margin: 0 auto;
  input {
    padding: 1rem;
    border: none;
    &.search-field {
      margin-right: -5px;
      width: 40rem;
      border-radius: 5px 0 0 5px;
    }
    &.search-submit {
      border-radius: 0 5px 5px 0;
      background-color: $orange;
      border-left: 2px solid $orange;
      max-width: 10rem;
    }
  }
}
.africa-img-wrap {
  border-radius: 0 16.7rem 16.7rem 16.7rem;
  padding-top: $md-space;
  padding-bottom: $md-space;
}
body.mec-events-template-default.single.single-mec-events {
  section#main-content {
    .mec-wrap {
      article.mec-single-event.mec-single-modern {
        .widget {
          h4,
          h2 {
            color: $text-light;
          }
        }
        div.col-md-8 {
          background-color: #fff;
        }
      }
    }
    p.nocomments {
      display: none;
    }
  }
}

/*    contact page      */
.contact-info {
  border: 1px solid $grey;
  background-color: #fff;
  margin: $sm-space 0 $lg-space;
  .border-line {
    border-top: 1px solid $grey;
  }
}
.contact-form {
  .contact-form h3 {
    margin-top: 6rem;
    margin-bottom: 0.1rem;
  }
  div.nf-form-content label {
    color: $orange;
  }
  .nf-form-fields-required {
    display: none;
  }
}

