@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@400;600&display=swap");
img {
  width: 100%;
  height: auto;
}

html {
  font-size: 0.625rem;
  line-height: 1.5;
}

body {
  background-color: #241E46;
  background: transparent linear-gradient(163deg, #241e46 0%, #1f2a5c 67%, #30376a 100%) 0% 0% no-repeat padding-box;
  color: #0D0D0D;
  font-size: 1.8rem;
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
}

section {
  margin-bottom: 7.2rem;
}

section:last-of-type {
  margin-bottom: 0;
}

section.bg-white {
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;
  background-color: #fff;
}

section.bg-white h2 {
  color: #241E46;
}

.wwedo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.4rem;
}

.wwedo img {
  height: 110px;
  width: auto;
  margin: 0 auto;
}

.mc4wp-form-113 {
  color: #fff;
  margin-bottom: 0;
}

.mc4wp-form-113 .form-row {
  margin-bottom: 2.4rem;
}

.mc4wp-form-113 input.form-control {
  border: none;
  border-radius: unset;
  border-bottom: 3px solid #fff;
  background: none;
  color: #fff;
}

.mc4wp-form-113 input.primary-btn {
  margin-bottom: 0;
  width: 16.7rem;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #fff;
}

.mc4wp-form-113 input.primary-btn:hover {
  color: #FF7549;
}

.entry-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 7.2rem 0 2.4rem;
}

.entry-content img {
  margin: 0 auto;
}

.alert-bubble {
  background-color: #F2B705;
  color: #0D0D0D;
  border-radius: 0 5.8rem 5.8rem 5.8rem;
  padding: 2.4rem;
  text-align: center;
  max-width: 43rem;
}

main.page .split-layout {
  margin-bottom: 7.2rem;
}

main.page .split-layout div.col-12 {
  margin-bottom: 7.2rem;
}

.events-calendar-container {
  padding-bottom: 7.2rem;
  margin-bottom: 7.2rem;
}

.past-galleries .card {
  background-color: #30376A;
}

.past-galleries .card .aspect-ratio-box {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-top: calc(400 / 600 * 100%);
}

.past-galleries .card .aspect-ratio-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: luminosity;
}

.error404 .mec-load-more-button,
main.page .mec-load-more-button {
  background-color: #FF7549;
  border: 3px solid #FF7549;
  border-radius: 100px;
  padding: 1.1rem 0;
  width: 16.7rem;
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px #0d0d0d74;
          box-shadow: 0px 3px 6px #0d0d0d74;
  margin: 2.4rem auto 7.2rem auto;
  padding: unset;
  color: #fff;
}

.error404 .mec-load-more-button a,
main.page .mec-load-more-button a {
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.error404 .mec-load-more-button:hover,
main.page .mec-load-more-button:hover {
  background-color: unset;
}

.error404 .mec-load-more-button:hover a,
main.page .mec-load-more-button:hover a {
  color: #FF7549;
}

.error404 .mec-load-more-button:hover,
main.page .mec-load-more-button:hover {
  color: #FF7549;
}

.search-form {
  max-width: 50rem;
  margin: 0 auto;
}

.search-form input {
  padding: 1rem;
  border: none;
}

.search-form input.search-field {
  margin-right: -5px;
  width: 40rem;
  border-radius: 5px 0 0 5px;
}

.search-form input.search-submit {
  border-radius: 0 5px 5px 0;
  background-color: #FF7549;
  border-left: 2px solid #FF7549;
  max-width: 10rem;
}

.africa-img-wrap {
  border-radius: 0 16.7rem 16.7rem 16.7rem;
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

body.mec-events-template-default.single.single-mec-events section#main-content .mec-wrap article.mec-single-event.mec-single-modern .widget h4,
body.mec-events-template-default.single.single-mec-events section#main-content .mec-wrap article.mec-single-event.mec-single-modern .widget h2 {
  color: #fff;
}

body.mec-events-template-default.single.single-mec-events section#main-content .mec-wrap article.mec-single-event.mec-single-modern div.col-md-8 {
  background-color: #fff;
}

body.mec-events-template-default.single.single-mec-events section#main-content p.nocomments {
  display: none;
}

/*    contact page      */
.contact-info {
  border: 1px solid #eceff1;
  background-color: #fff;
  margin: 2.4rem 0 7.2rem;
}

.contact-info .border-line {
  border-top: 1px solid #eceff1;
}

.contact-form .contact-form h3 {
  margin-top: 6rem;
  margin-bottom: 0.1rem;
}

.contact-form div.nf-form-content label {
  color: #FF7549;
}

.contact-form .nf-form-fields-required {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.banner p {
  font-size: 1.6rem;
  font-family: "Oswald", sans-serif;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  color: #FF7549;
  margin-bottom: 2.4rem;
}

h1 {
  color: #241E46;
  margin: 0;
}

.contrast-heading {
  color: #241E46;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 3.2rem;
}

h4.mec-event-title > a.mec-color-hover {
  color: #fff !important;
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
  max-width: 70ch;
}

main p {
  margin-bottom: 2.4rem;
}

.banner p {
  font-size: 6vw;
  color: #FF7549;
  line-height: 1.2;
}

li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #0D0D0D;
}

a:hover {
  text-decoration: none;
  color: #FF7549;
}

nav a {
  font-family: "Oswald", sans-serif;
  font-size: 2.2rem;
  line-height: 3;
  color: #fff;
  text-transform: uppercase;
}

nav a:hover {
  color: #FF7549;
}

li.current_page_item a.nav-link {
  color: #FF7549;
}

.events-front-page a {
  color: #fff;
}

.entry-content ul li {
  line-height: 2;
  text-transform: capitalize;
}

.entry-content ul li a {
  -webkit-box-shadow: inset 0 -1.15rem 0 0 #F2B705;
          box-shadow: inset 0 -1.15rem 0 0 #F2B705;
}

.entry-content ul li a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

h2.entry-title {
  text-align: center;
  margin-top: 4.8rem;
  text-transform: uppercase;
}

p a {
  -webkit-box-shadow: inset 0 -1.15rem 0 0 #F2B705;
          box-shadow: inset 0 -1.15rem 0 0 #F2B705;
}

p a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

main.post-30 p a {
  color: #fff;
}

.events-404 span {
  color: #fff !important;
}

.header-404 {
  text-align: center;
}

.header-404 p {
  max-width: unset;
}

button:focus {
  outline: none;
}

.af-resource-content li {
  padding-bottom: 1.2rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
}

.af-resource-content li a {
  color: #8c1b64;
  font-size: 1.6rem;
}

.af-resource-content li a:hover {
  -webkit-box-shadow: inset 0 -1.15rem 0 0 #F2B705;
          box-shadow: inset 0 -1.15rem 0 0 #F2B705;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.quote {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  max-width: 22rem;
}

.quote p.display-4 {
  color: #8c1b64;
  margin: 0;
}

.contact-info-content {
  color: #0D0D0D;
  font-family: "Oswald", sans-serif;
  margin: 2.4rem;
}

.contact-info-content .material-icons {
  color: #E92640;
  font-size: 3.2rem;
  padding-right: 1rem;
}

nav {
  background: #fff;
  padding: 1rem;
  box-shadow: -3px 4px 5px -3px #0D0D0D;
  -webkit-box-shadow: -3px 4px 5px -3px #0D0D0D;
}

/* nav */
.navbar-toggler i {
  color: #FF7549;
  font-size: 4rem;
}

div.site-logo img {
  width: 5rem;
  height: 100%;
  padding-right: 1rem;
}

div.content-banner {
  background: #241E46;
  background: -webkit-gradient(linear, left top, left bottom, from(#241e4600), to(#241e46e1)), url(http://african.web.dmitcapstone.ca/wordpress/banner-bgd/);
  background: linear-gradient(#241e4600, #241e46e1), url(http://african.web.dmitcapstone.ca/wordpress/banner-bgd/);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 12rem;
  position: relative;
}

.navbar-collapse {
  position: absolute;
  top: 5.7rem;
  left: 0;
  padding: 4.8rem 0 12rem 7.2rem;
  width: 30rem;
  background-color: #30376A;
  z-index: 9000;
  -webkit-box-shadow: 20px 40px 60px #00000099;
          box-shadow: 20px 40px 60px #00000099;
}

.navbar-collapse.collapsing {
  height: auto;
  -webkit-transition: left 0.6s ease;
  transition: left 0.6s ease;
  left: -90%;
}

.navbar-collapse.show {
  left: 0;
  -webkit-transition: left 0.6s ease-in;
  transition: left 0.6s ease-in;
}

/* footer */
footer {
  background-color: #241E46;
  color: #FF7549;
  font-size: 1.4rem;
  padding: 1.2rem 0;
}

footer p {
  padding: 0;
  margin: 0;
}

footer a {
  color: #FF7549;
}

footer a:hover {
  color: #E92640;
}

.footer-container {
  margin-top: 12rem;
}

.footer-container aside {
  padding: 4.8rem 10px;
  background-color: #F2B705;
  color: #fff;
}

.footer-container aside h3 {
  color: #fff;
}

.footer-container aside:first-of-type {
  background-color: #8c1b64;
}

.footer-container aside:first-of-type h3 {
  text-transform: capitalize;
}

.footer-container aside:nth-of-type(2) ul li {
  line-height: 2;
  float: left;
  display: inline;
  width: 50%;
}

.footer-container aside:nth-of-type(2) ul li:nth-child(even) {
  text-align: right;
}

.footer-container aside:nth-of-type(2) ul li a {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #0D0D0D;
}

.footer-container aside:nth-of-type(2) ul li a:hover {
  color: #E92640;
}

.footer-container aside:nth-of-type(3) a:hover img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.primary-btn {
  background-color: #FF7549;
  border: 3px solid #FF7549;
  border-radius: 100px;
  padding: 1.1rem 0;
  width: 16.7rem;
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px #0d0d0d74;
          box-shadow: 0px 3px 6px #0d0d0d74;
  margin: 2.4rem auto 7.2rem auto;
}

.primary-btn a {
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.primary-btn:hover {
  background-color: unset;
}

.primary-btn:hover a {
  color: #FF7549;
}

.secondary-btn {
  background-color: #FF7549;
  border: 3px solid #FF7549;
  border-radius: 100px;
  padding: 1.1rem 0;
  width: 16.7rem;
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px #0d0d0d74;
          box-shadow: 0px 3px 6px #0d0d0d74;
  margin: 2.4rem auto 7.2rem auto;
  background-color: unset;
}

.secondary-btn a {
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.secondary-btn:hover {
  background-color: unset;
}

.secondary-btn:hover a {
  color: #FF7549;
}

.secondary-btn a {
  color: #FF7549;
}

.secondary-btn:hover {
  background-color: #FF7549;
}

.secondary-btn:hover a {
  color: #fff;
}

main.page .nf-form-content input[type=button] {
  background-color: #FF7549;
  border: 3px solid #FF7549;
  border-radius: 100px;
  padding: 1.1rem 0;
  width: 16.7rem;
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px #0d0d0d74;
          box-shadow: 0px 3px 6px #0d0d0d74;
  margin: 2.4rem auto 7.2rem auto;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  margin-top: 0;
  float: right;
}

main.page .nf-form-content input[type=button] a {
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

main.page .nf-form-content input[type=button]:hover {
  background-color: unset;
}

main.page .nf-form-content input[type=button]:hover a {
  color: #FF7549;
}

main.page .nf-form-content input[type=button]:hover {
  color: #FF7549;
}

.ball {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background-color: #E92640;
  border-radius: 100%;
  margin-left: 3px;
}

@media only screen and (min-width: 375px) {
  h1 {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }
  h1 br {
    display: none;
  }
  div.content-banner {
    background: #241e46;
    background-color: transparent;
    background-image: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 42rem;
    overflow: hidden;
    padding: 0;
  }
  div.content-banner .banner-image {
    position: absolute;
    top: -10%;
    left: 45%;
    width: 70vw;
    height: 70vw;
    border-radius: 100%;
    overflow: hidden;
    z-index: -1;
    background: transparent;
    background-image: url(http://african.web.dmitcapstone.ca/wordpress/wp-content/uploads/2020/11/banner-bgd-scaled.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  div.content-banner .banner p {
    z-index: 2;
    text-shadow: 2px 0px 4px #241E46;
  }
  h2.entry-title {
    margin-top: 4.8rem;
  }
  .what-wrapper {
    height: 24rem;
  }
  .wwedo {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: absolute;
    max-width: 30.5rem;
    top: -14rem;
  }
  .wwedo div:first-child {
    background-color: #F2B705;
    border-radius: 100%;
    border: 10px solid #ffffff;
    width: 12rem;
    height: 12rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wwedo.culture div:first-child {
    background-color: #FF7549;
  }
  .wwedo.culture div:first-child img {
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  .wwedo.volunteer div:first-child {
    background-color: #8c1b64;
  }
  .wwedo.volunteer div:first-child img {
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  .wwedo img {
    height: 7rem;
    margin: 15px auto;
  }
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .footer-container aside {
    padding: 4.8rem;
  }
  .footer-container aside:nth-of-type(2) {
    padding-bottom: 10.7rem;
  }
  .footer-container aside.widget_text {
    position: absolute;
    right: 0;
    padding-top: 0;
  }
  .entry-content ul {
    max-width: 33rem;
    margin-left: 9rem;
  }
  .community.bg-white {
    border-radius: 0 100% 100% 100%;
  }
  main.page .split-layout div.col-12 {
    margin-bottom: 0;
  }
  main.page .alert-bubble {
    height: 22.8rem;
    width: 22.8rem;
    border-radius: 11.4rem 11.4rem 11.4rem 0;
    margin: auto;
  }
  .africa-img-wrap {
    border-radius: 0 20rem 20rem 20rem;
    padding: 4.8rem;
    margin-top: 6rem;
  }
  .af-resource-content {
    background-image: url(http://african.web.dmitcapstone.ca/wordpress/wp-content/uploads/2020/11/AADFC-logo-nav.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .af-resource-content li {
    font-size: 2.4rem;
  }
  /*    contact page      */
  .contact-info {
    border: none;
    width: 31.6rem;
    height: 31.6rem;
    background-color: #30376A;
    border-radius: 0rem 15.8rem 15.8rem 15.8rem;
    padding-left: 4rem;
    margin-top: 6rem;
  }
  .contact-info h4.contact-info-heading {
    font-size: 3.2rem;
    color: #fff;
  }
  .contact-info p.contact-info-content {
    color: #fff;
    margin: 0;
    line-height: 4.8rem;
  }
  .contact-form h3 {
    margin: 0;
  }
}

@media only screen and (min-width: 992px) {
  h1 br {
    display: inline-block;
  }
  .banner p {
    font-size: 7.57rem;
  }
  h2 {
    font-size: 5.68rem;
  }
  h3 {
    font-size: 4.26rem;
  }
  .navbar .navbar-nav li {
    padding-left: 1.8rem;
  }
  .navbar .navbar-nav li a.nav-link {
    padding: 0;
    color: #8c1b64;
    line-height: unset;
  }
  .navbar-collapse {
    position: static;
    width: unset;
    background-color: unset;
    z-index: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    padding: unset;
  }
  .collapse:not(.show) {
    display: block;
  }
  div.site-logo img {
    width: 10rem;
    height: 100%;
  }
  div.content-banner {
    height: 600px;
  }
  div.content-banner .banner p {
    font-size: 72px;
  }
  li.current_page_item a.nav-link {
    color: #8c1b64;
  }
  li.current_page_item a.nav-link::before {
    content: "";
    position: relative;
    display: inline-block;
    top: -3rem;
    background: #E92640;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100%;
    left: 50%;
  }
  .wwedo {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    top: -18rem;
  }
  .wwedo div:first-child {
    width: 20rem;
    height: 20rem;
  }
  .wwedo img {
    height: 11rem;
    margin: 35px auto;
  }
  .community.bg-white {
    padding: 9.6rem 0 4.8rem 2.4rem;
  }
  .footer-container aside div.textwidget {
    max-width: 450px;
    margin-right: auto;
  }
  .footer-container aside:first-of-type h3 {
    max-width: 450px;
    margin-left: auto;
  }
  .footer-container aside:first-of-type div.textwidget {
    margin-left: auto;
    margin-right: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .banner-image {
    max-width: 892px;
    max-height: 892px;
  }
  body.mec-events-template-default.single.single-mec-events section#main-content .mec-wrap article.mec-single-event.mec-single-modern div.mec-events-event-image {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

@media (min-width: 1280px) {
  .banner p {
    margin-left: -8rem;
  }
  .footer-container aside {
    padding: 4.8rem 12rem;
  }
}
/*# sourceMappingURL=style.css.map */