@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@400;600&display=swap");
html {
  font-size: 0.625rem;
  line-height: 1.5;
}

body {
  background-color: #241E46;
  background: transparent linear-gradient(163deg, #241e46 0%, #1f2a5c 67%, #30376a 100%) 0% 0% no-repeat padding-box;
  color: #0D0D0D;
  font-size: 1.8rem;
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
}

section {
  margin-bottom: 7.2rem;
}

section:last-of-type {
  margin-bottom: 0;
}

section.bg-white {
  padding: 7.2rem 0;
  background-color: #fff;
}

section.bg-white h2 {
  color: #241E46;
}

.wwedo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.4rem;
}

.wwedo img {
  height: 110px;
  width: auto;
  margin: 0 auto;
}

.mc4wp-form-113 {
  color: #fff;
}

.mc4wp-form-113 .form-row {
  margin-bottom: 2.4rem;
}

.mc4wp-form-113 input.form-control {
  border: none;
  border-radius: unset;
  border-bottom: 3px solid #fff;
  background: none;
  color: #fff;
}

.mc4wp-form-113 input.primary-btn {
  margin-bottom: 0;
  width: 16.7rem;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #fff;
}

.mc4wp-form-113 input.primary-btn:hover {
  color: #FF7549;
}

.entry-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 7.2rem 0 2.4rem;
}

.entry-content img {
  margin: 0 auto;
}

.alert-bubble {
  background-color: #F2B705;
  color: #0D0D0D;
  border-radius: 0 5.8rem 5.8rem 5.8rem;
  padding: 2.4rem;
  text-align: center;
  max-width: 43rem;
}

main.post-30 {
  margin-top: 2.4rem;
}

main.post-30 .events-content {
  margin-bottom: 7.2rem;
}

main.post-30 .events-content div:first-of-type {
  margin-bottom: 7.2rem;
}

.events-calendar-container {
  padding-bottom: 7.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.banner p {
  font-size: 1.6rem;
  font-family: "Oswald", sans-serif;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #FF7549;
  margin-bottom: 2.4rem;
}

h1 {
  text-transform: capitalize;
  color: #241E46;
  margin: 0;
}

h2 {
  font-size: 4.26rem;
}

h3 {
  font-size: 3.2rem;
}

p {
  margin: 0;
  padding: 0;
  max-width: 70ch;
}

main p {
  margin-bottom: 2.4rem;
}

.banner p {
  font-size: 6vw;
  color: #FF7549;
  line-height: 1.2;
  text-transform: capitalize;
}

li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #0D0D0D;
}

a:hover {
  text-decoration: none;
  color: #FF7549;
}

nav a {
  font-family: "Oswald", sans-serif;
  font-size: 3.2rem;
  color: #fff;
  text-transform: uppercase;
}

nav a:hover {
  color: #FF7549;
}

.ball {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background-color: #E92640;
  border-radius: 100%;
}

.events-front-page a {
  color: #fff;
}

.entry-content ul li {
  line-height: 2;
  text-transform: capitalize;
}

.entry-content ul li a {
  -webkit-box-shadow: inset 0 -1.15rem 0 0 #F2B705;
          box-shadow: inset 0 -1.15rem 0 0 #F2B705;
}

.entry-content ul li a:hover {
  color: #F2B705;
  -webkit-box-shadow: none;
          box-shadow: none;
}

h2.entry-title {
  text-align: center;
  margin-top: 2.4rem;
}

p a {
  -webkit-box-shadow: inset 0 -1.15rem 0 0 #F2B705;
          box-shadow: inset 0 -1.15rem 0 0 #F2B705;
}

p a:hover {
  color: #F2B705;
  -webkit-box-shadow: none;
          box-shadow: none;
}

main.post-30 p a {
  color: #fff;
}

nav {
  background: #fff;
  padding: 1rem;
  box-shadow: -3px 4px 5px -3px #0D0D0D;
  -webkit-box-shadow: -3px 4px 5px -3px #0D0D0D;
}

/* nav */
.navbar-toggler i {
  color: #FF7549;
  font-size: 4rem;
}

div.site-logo img {
  width: 5rem;
  height: 100%;
  padding-right: 1rem;
}

div.content-banner {
  background: #241E46;
  background: -webkit-gradient(linear, left top, left bottom, from(#241e4600), to(#241e46e1)), url(http://african.web.dmitcapstone.ca/wordpress/wp-content/uploads/2020/11/banner-bgd-scaled.jpg);
  background: linear-gradient(#241e4600, #241e46e1), url(http://african.web.dmitcapstone.ca/wordpress/wp-content/uploads/2020/11/banner-bgd-scaled.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 12rem;
  position: relative;
}

/* footer */
footer {
  background-color: #241E46;
  color: #FF7549;
  font-size: 1.4rem;
  padding: 1.2rem 0;
}

footer p {
  padding: 0;
  margin: 0;
}

footer a {
  color: #FF7549;
}

footer a:hover {
  color: #E92640;
}

.footer-container {
  margin-top: 12rem;
}

.footer-container aside {
  padding: 4.8rem 10px;
  background-color: #F2B705;
  color: #fff;
}

.footer-container aside h3 {
  color: #fff;
}

.footer-container aside:first-of-type {
  background-color: #8c1b64;
}

.footer-container aside:first-of-type h3 {
  text-transform: capitalize;
}

.footer-container aside:nth-of-type(2) ul li {
  line-height: 2;
  float: left;
  display: inline;
  width: 50%;
}

.footer-container aside:nth-of-type(2) ul li a {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #0D0D0D;
}

.footer-container aside:nth-of-type(2) ul li a:hover {
  color: #E92640;
}

.footer-container aside:nth-of-type(3) a:hover img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.primary-btn {
  background-color: #FF7549;
  border: 3px solid #FF7549;
  border-radius: 100px;
  padding: 1.1rem 0;
  width: 16.7rem;
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px #0d0d0d74;
          box-shadow: 0px 3px 6px #0d0d0d74;
  margin: 2.4rem auto 7.2rem auto;
}

.primary-btn a {
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.primary-btn:hover {
  background-color: unset;
}

.primary-btn:hover a {
  color: #FF7549;
}

.secondary-btn {
  background-color: #FF7549;
  border: 3px solid #FF7549;
  border-radius: 100px;
  padding: 1.1rem 0;
  width: 16.7rem;
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px #0d0d0d74;
          box-shadow: 0px 3px 6px #0d0d0d74;
  margin: 2.4rem auto 7.2rem auto;
  background-color: unset;
}

.secondary-btn a {
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.secondary-btn:hover {
  background-color: unset;
}

.secondary-btn:hover a {
  color: #FF7549;
}

.secondary-btn a {
  color: #FF7549;
}

.secondary-btn:hover {
  background-color: #FF7549;
}

.secondary-btn:hover a {
  color: #fff;
}

@media (min-width: 768px) {
  div.content-banner {
    background: #241e46;
    background-color: transparent;
    background-image: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 42rem;
    overflow: hidden;
    padding: 0;
  }
  div.content-banner .banner-image {
    position: absolute;
    top: -10%;
    left: 45%;
    width: 70vw;
    height: 70vw;
    border-radius: 100%;
    overflow: hidden;
    z-index: -1;
    background: transparent;
    background-image: url(http://african.web.dmitcapstone.ca/wordpress/wp-content/uploads/2020/11/banner-bgd-scaled.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  div.content-banner .banner p {
    z-index: 2;
    text-shadow: 2px 0px 4px #241E46;
  }
  h2.entry-title {
    margin-top: 4.8rem;
  }
  .what-wrapper {
    height: 24rem;
  }
  .wwedo {
    position: absolute;
    max-width: 30.5rem;
    top: -18rem;
  }
  .wwedo div:first-child {
    background-color: #F2B705;
    border-radius: 100%;
    border: 10px solid #ffffff;
    width: 20rem;
    height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wwedo.culture div:first-child {
    background-color: #FF7549;
  }
  .wwedo.culture div:first-child img {
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  .wwedo.volunteer div:first-child {
    background-color: #8c1b64;
  }
  .wwedo.volunteer div:first-child img {
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  .wwedo img {
    margin: 35px auto;
  }
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .footer-container aside {
    padding: 4.8rem;
  }
  .footer-container aside:nth-of-type(2) {
    padding-bottom: 10.8rem;
  }
  .footer-container aside.widget_text {
    position: absolute;
    right: 0;
    padding-top: 0;
  }
  .entry-content ul {
    max-width: 33rem;
    margin-left: 9rem;
  }
  .community.bg-white {
    border-radius: 0 100% 100% 100%;
    position: relative;
  }
  .community.bg-white p {
    max-width: 47rem;
  }
  .community.bg-white .entry-content p:last-of-type {
    position: absolute;
    bottom: 0;
    right: 4%;
  }
  main.post-30 .events-content div:first-of-type {
    margin-bottom: 0;
  }
  main.post-30 .alert-bubble {
    height: 22.8rem;
    width: 22.8rem;
    border-radius: 11.4rem 11.4rem 11.4rem 0;
    margin: auto;
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 2.4rem;
  }
  .banner p {
    font-size: 7.57rem;
  }
  h2 {
    font-size: 5.68rem;
  }
  h3 {
    font-size: 4.26rem;
  }
  nav a {
    color: #8c1b64;
  }
  .navbar-nav li {
    padding-left: 2.4rem;
  }
  .collapse:not(.show) {
    display: block;
  }
  div.site-logo img {
    width: 10rem;
    height: 100%;
  }
  div.content-banner {
    height: 600px;
  }
  div.content-banner .banner p {
    font-size: 72px;
  }
  li.current_page_item a.nav-link::before {
    content: "";
    position: relative;
    top: -15px;
    background: #E92640;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100%;
    left: calc(50% - 8px);
  }
  .community.bg-white {
    padding: 9.6rem 0 24rem 2.4rem;
  }
  .community.bg-white p {
    max-width: 65rem;
  }
  .community.bg-white .entry-content p:last-of-type {
    right: 8%;
    bottom: 10%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .community.bg-white .entry-content p:last-of-type img {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  .footer-container aside div.textwidget {
    max-width: 450px;
    margin-right: auto;
  }
  .footer-container aside:first-of-type {
    text-align: right;
  }
  .footer-container aside:first-of-type div.textwidget {
    margin-left: auto;
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .banner-image {
    max-width: 892px;
    max-height: 892px;
  }
  .community.bg-white .entry-content p:last-of-type {
    bottom: 20%;
  }
  .community.bg-white .entry-content p:last-of-type img {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@media (min-width: 1280px) {
  .banner p {
    margin-left: -8rem;
  }
}
/*# sourceMappingURL=style.css.map */